<%= sidebar_section("help_links", content_tag(:h2, t('blacklight.help.title'))) do %>
<ul>
  <li> <%= link_to t('blacklight.help.search_tips.title'), search_tips_path, remote: true %></li>
</ul>
<% end %>
