<%= sidebar_section("help_links", content_tag(:h2, t('blacklight.help.title'))) do %>
<ul>
  <li> <%= link_to t('blacklight.help.search_tips.title'), search_tips_path, :data => { :ajax_modal => "trigger" } %></li>
  <li> <%= link_to t('blacklight.help.contact_information.title'), contact_information_path, :data => { :ajax_modal => "trigger" } %></li>
</ul>
<% end %>
