<%= sidebar_section("help_links", content_tag(:h2, t('help.title'))) do %>
<ul>
  <li> <%= link_to t('help.search_tips.title'), search_tips_path, :data => { :remote => true } %></li>
  <li> <%= link_to t('help.contact_information.title'), contact_information_path, :remote => true  %></li>
</ul>
<% end %>
