<div>
  <ul>
    <li>
      Fales Library &amp; Special Collections<br>
      fales.library@nyu.edu<br>
      212-998-2596
    </li>
    <li>
      New York University Archives and Research Institute for the Study of Man<br>
      university.archives@library.nyu.edu<br>
      212-998-2646
    </li>
    <li>
      The Tamiment Library &amp; Robert F. Wagner Labor Archives<br>
      tamiment.wagner@library.nyu.edu<br>
      212-998-2630
    </li>
    <li>
      Brooklyn Historical Society<br>
      library@brooklynhistory.org<br>
      718-222-4111
    </li>
    <li>
      New York Historical Society<br>
      Email Reference Form (add hyperlink)<br>
      (212) 873-3400
    </li>
    <li>
      New York University Polytechnic School of Engineering<br>
      archives@library.poly.edu<br>
      718-260-3943
    </li>
  </ul>
</div>
