<div>
  <div>
    <ul>
      <li>
        <address>
          <strong>Fales Library &amp; Special Collections</strong><br>
          fales.library@nyu.edu<br>
          212-998-2596<br>
        </address>
        <em>Fall and Spring Semester regular hours*:</em><br>
        Monday - Friday: 10:00am - 5:45pm<br>
        Saturday and Sunday: Closed<br>
        <br>
        <em>Summer regular hours*:</em><br>
        Monday - Thursday: 10:00am - 4:45pm<br>
        Friday, Saturday, and Sunday: Closed<br>
        <br>
        <br>
      </li>
      <li>
        <address>
          <strong>New York University Archives and Research Institute for the Study of Man</strong><br>
          university.archives@library.nyu.edu<br>
          212-998-2646<br>
        </address>
        <em>Fall and Spring Semester regular hours*:</em><br>
        Monday - Friday: 9:30am - 5:00pm<br>
        Saturday and Sunday: Closed<br>
        <br>
        <em>Summer regular hours*:</em><br>
        Monday - Friday: 10:00am – 5:00pm<br>
        Saturday and Sunday: Closed<br>
        <br>
        <br>
      </li>
      <li>
        <address>
          <strong>The Tamiment Library &amp; Robert F. Wagner Labor Archives</strong><br>
          tamiment.wagner@library.nyu.edu<br>
          212-998-2630<br>
        </address>
        <em>Fall and Spring Semester regular hours*:</em><br>
        Monday - Friday: 10:00am - 5:45pm<br>
        Saturday: 10:00am - 5:00pm<br>
        Sunday: Closed<br>
        <br>
        <em>Summer regular hours*:</em><br>
        Monday - Thursday: 10:00am - 5:45pm<br>
        Friday: 10:00am - 2:00pm<br>
        Saturday: and Sunday: Closed<br>
        <br>
      </li>
    </ul>
  </div>
  <div>
    <p>
      <strong>Other Special Collections locations</strong><br>
    </p>
    <ul>
      <li>
        <address>
          <strong>Brooklyn Historical Society</strong><br>
          library@brooklynhistory.org<br>
          718-222-4111
        </address>
      </li>
      <li>
        <address>
          <strong>New York Historical Society</strong><br>
          <%= link_to 'Email Reference Form', "https://www.nyhistory.org/library_reference_forms" %><br>
          (212) 873-3400
        </address>
      </li>
      <li>
        <address>
          <strong>New York University Polytechnic School of Engineering</strong><br>
          archives@library.poly.edu<br>
          718-260-3943
        </address>
      </li>
    </ul>
  </div>
</div>
