<div>
  <h2>Search Tips</h2>
  <h3>When searching, it is helpful to keep a few things in mind:</h3>
  <ul>
    <li>Try many different terms. ' "NYU clubs" ' will produce different results than ' "NYU society" ' or ' "New York University clubs" '</li>
    <li>The more words you use in your search, the more results will come back to you. 'Abraham Lincoln Brigade' will produce more results than 'Lincoln' but not all results for 'Lincoln' will be about the Abraham Lincoln Brigade. You can search for specific phrases by using double quotation marks " ".</li>
    <li>You may narrow down your results by using the search filters on the left of the screen. Not all materials may be located via this method and relevant results may be excluded.</li>
    <li>If you are looking for a particular item or materials on a particular subject, there may be material about that subject in several archives.</li>
  </ul>
  <h3>Advanced tips:</h3>
  <ul>
    <li>You can create advanced searches to limit, broaden or define your search using Boolean operators (e.g. AND, OR, NOT).</li>
    <li>You can adjust the granularity of results by using the 'Format' facet. For example you can view results for entire archives, series, folders, or items.</li>
  </ul>
</div>
