  <header class="header" data-swiftype-index="false">
    <div class="container" role="banner">
      <!-- <div class="wrap"> -->
        <div class="row">
          <div class="col-xs-6 vertical-center-container">
            <h1 class="logo vertical-center">
              <a href="/" title="Homepage">
                <img src="https://library.nyu.edu/assets/images/nyulibraries-logo.svg" alt="NYU Libraries" width="233" height="30" />
              </a>
            </h1>
          </div>
          <div class="col-xs-6 title">
            <h1>{{ site.title }}</h1>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </header>
