<%= sidebar_section("need_help_links", content_tag(:h2, t('blacklight.need_help_links.title'))) do %>
<ul>
  <li> <%= render partial: '/need_help/search_tips' %></li>
  <li> <%= render partial: '/need_help/special_collections_contact_information' %></li>
</ul>
<% end %>
