# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/examples
/jetty
/wiki
/spec/out.html

/coverage

.DS_Store

public/fa
public/assets
data/
findingaids_eads/
.pid
sunspot-solr.pid

# ignore jEnv files
.java-version

# ignore RVM gemset files
.ruby-gemset
