version: '3.6'

x-build_default: &build_default
  image: specialcollections
  build:
    context: .
    cache_from:
      - ruby:2.5.5-alpine
      - specialcollections
      - quay.io/nyulibraries/specialcollections:${BRANCH_NO_SLASH}
      - quay.io/nyulibraries/specialcollections:latest

x-build_cron: &build_cron
  image: specialcollections_cron
  build:
    context: .
    cache_from:
      - ruby:2.5.5-alpine
      - specialcollections_cron
      - quay.io/nyulibraries/specialcollections_cron:${BRANCH_NO_SLASH}
      - quay.io/nyulibraries/specialcollections_cron:latest

x-build_test: &build_test
  image: specialcollections_test
  build:
    context: .
    dockerfile: Dockerfile.test
    cache_from:
      - quay.io/nyulibraries/selenium_chrome_headless_ruby:2.5-slim-chrome_73
      - specialcollections_test
      - quay.io/nyulibraries/specialcollections_test:${BRANCH_NO_SLASH}
      - quay.io/nyulibraries/specialcollections_test:latest

services:

  dev:
    <<: *build_default
    tty: true
    stdin_open: true
    ports:
      - "9292:9292"
    env_file:
      - test.env
    command: ["./script/start.sh", "production"]
    depends_on:
      - setup_dbs
    # volumes:
    #   - .:/app

  test:
    <<: *build_test
    environment:
      RAILS_ENV: test
      CI:
      CODECLIMATE_REPO_TOKEN:
      COVERALLS_REPO_TOKEN:
      SOLR_URL: http://solr:8983/solr/test-core
    env_file:
      - test.env
    command: ["/tmp/wait-for-it.sh", "db:3306", "solr:8983", "--", "bundle", "exec", "rake"]
    #volumes:
    #  - ./tmp/capybara:/app/tmp/capybara
    depends_on:
      - setup_test_dbs

  setup_test_dbs:
    <<: *build_test
    environment:
      RAILS_ENV: test
    env_file:
      - test.env
    command: ["/tmp/wait-for-it.sh", "db:3306", "solr:8983", "--", "rake", "db:setup"]
    depends_on:
      - db
      - solr

  setup_dbs:
    <<: *build_test
    env_file:
      - test.env
    command: ["/tmp/wait-for-it.sh", "db:3306", "solr:8983", "--", "rake", "db:setup"]
    depends_on:
      - db
      - solr

  cron:
    image: specialcollections_cron
    build:
      context: .
      dockerfile: Dockerfile.cron
    environment:
      RAILS_ENV: staging
      FINDINGAIDS_LOG: STDOUT
      SOLR_URL: http://solr:8983/solr/development-core
      PROM_PUSHGATEWAY_URL: http://pushgateway:9091

  db:
    image: library/mysql:5.6
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  solr:
    image: nyulibraries/specialcollections-solr:test
    ports:
      - 8983:8983

  pushgateway:
    image: prom/pushgateway
    ports:
      - 9091:9091