<div id="search" class="search">
    <h2><%= t('application_title') %><span id="repository_header"><%= (params[:repository].present?) ? ": #{params[:repository]}" : ""%></span></h2>
    <%= render_search_bar  %>
</div>
