<div class="home_text">
  <div class="alert alert-info"><strong>RENOVATION NOTICE</strong>
    <p>NYU Special Collections is undergoing a major renovation and there may be impacts on services and collections. Please contact <a href="mailto:special.collections@nyu.edu">special.collections@nyu.edu</a> with questions or visit our <a href="https://library.nyu.edu/locations/special-collections-center/">website</a> for further information as to services and access.</p>
  </div>
  <p>Use this site to explore descriptions, finding aids, inventories and digitized content from archives held by New York University’s special collections. You can also use this site to search archival material held by The New York Historical and The Center for Brooklyn History.</p>
  <div>
    <h2>Harmful Language and Content</h2>
    <p>You may encounter harmful language in our description, which includes catalog records, finding aids, collection guides, and inventories. If you encounter harmful language in description, or would like to request changes, please complete this <a href="https://nyu.qualtrics.com/jfe/form/SV_3Qw7bzL1VzG6hVA">form</a>.</p>
    <p>Materials in our collections, which comprise a part of the cultural and historical record, may depict offensive and objectionable perspectives, imagery, and norms. While we have control over description of our collections, we cannot alter the content. We are committed to reassessing and modifying description when possible so that it more accurately and transparently reflects the content of materials that are harmful and triggering in any way and for any reason.</p>
    <p>As librarians and archivists at NYU Libraries, we are actively confronting and remediating how we describe our collection materials. We know that language can and does perpetuate harm, and the work we are undertaking centers on anti-oppressive practices. We are also making reparative changes, all to ensure that the descriptive language we use upholds and enacts our values of inclusion, diversity, equity, belonging, and accessibility.</p>
    <p>Once you submit the <a href="https://nyu.qualtrics.com/jfe/form/SV_3Qw7bzL1VzG6hVA">form</a>, we will review and act on your request, and document any changes we make. You can submit the form anonymously if you prefer, or provide your contact information to receive updates.</p>
  </div>
  <div>
    <h2>What Are Special Collections?</h2>
    <p><em>Special collections</em> are repositories that collect archives, rare books, and manuscripts. These unique materials have been selected for their enduring historical and cultural value.</p>
  </div>
  <div>
    <h2>What Are Archives?</h2>
    <p><em>Archives</em> are materials created or collected by people and organizations as they lived and worked. They may contain drafts of literary manuscripts, correspondence, meeting minutes, sound and moving image recordings, photographs, reports, and artifacts. Archival collections range from a few letters to hundreds of boxes of organizational records.</p>
  </div>
  <div>
    <h2>RIGHTS STATEMENT FOR ARCHIVAL DESCRIPTION</h2>
    <p>Archival description from NYU Special Collections, Poly Archives & Special Collections, and NYU Abu Dhabi Archives & Special Collections is available for use under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a> (CC-BY-NC 4.0), except where otherwise noted. You may share or adapt this metadata for non-commercial purposes with attribution to the original author(s).</p>
  </div>
</div>
