<div class="home_text">
  <div class="alert alert-info"><h3>ALL REPOSITORIES CLOSED FOR SUMMER 2019</h3>
    <p>Due to major renovations, NYU Special Collections (Fales Library, Tamiment Library, and University Archives) is closed for the summer, and will re-open on September 3, 2019. No appointments to view materials are available during this period. We will review appointment requests for the period beginning September 3, 2019 during late summer. Please contact <a href="mailto:scra@nyu.edu">scra@nyu.edu</a> with any questions, and visit the <a href="https://wp.nyu.edu/library-renovation" target="_blank">Special Collections Renovation Project website</a> for more information.</p>
  </div>
  <p>Use this site to explore descriptions, finding aids, inventories and digitized content from archives held by New York University’s special collections. You can also use this site to search archival material held by the New-York Historical Society and Brooklyn Historical Society.</p>
  <div>
    <h2>What Are Special Collections?</h2>
    <p><em>Special collections</em> are repositories that collect archives, rare books, and manuscripts. These unique materials have been selected for their enduring historical and cultural value.</p>
  </div>
  <div>
    <h2>What Are Archives?</h2>
    <p><em>Archives</em> are materials created or collected by people and organizations as they lived and worked. They may contain drafts of literary manuscripts, correspondence, meeting minutes, sound and moving image recordings, photographs, reports, and artifacts. Archival collections range from a few letters to hundreds of boxes of organizational records.</p>
  </div>
</div>
