<div class="home_text">
  <p>Use this site to explore descriptions, finding aids, inventories and digitized content from archives held by New York University’s special collections. You can also use this site to search archival material held by The New York Historical and The Center for Brooklyn History.</p>
  <div>
    <h2>Harmful Language and Content</h2>
    <p>You may encounter harmful language in our description, which includes catalog records, finding aids, collection guides, and inventories. If you encounter harmful language in description, or would like to request changes, please complete the <a href="https://nyu.qualtrics.com/jfe/form/SV_3Qw7bzL1VzG6hVA" target="_blank">NYU Special Collections Harmful or Inaccurate Language in Description reporting form (Qualtrics)</a>.</p>
    <p>Materials in our collections, which comprise a part of the cultural and historical record, may depict offensive and objectionable perspectives, imagery, and norms. While we have control over description of our collections, we cannot alter the content. We are committed to reassessing and modifying description when possible so that it more accurately and transparently reflects the content of materials that are harmful and triggering in any way and for any reason.</p>
    <p>As librarians and archivists at NYU Libraries, we are actively confronting and remediating how we describe our collection materials. We know that language can and does perpetuate harm, and the work we are undertaking centers on anti-oppressive practices. We are also making reparative changes, all to ensure that the descriptive language we use upholds and enacts our values of inclusion, diversity, equity, belonging, and accessibility.</p>
    <p>Once you submit the <a href="https://nyu.qualtrics.com/jfe/form/SV_3Qw7bzL1VzG6hVA" target="_blank">NYU Special Collections Harmful or Inaccurate Language in Description reporting form (Qualtrics)</a>, we will review and act on your request, and document any changes we make. You can submit the form anonymously if you prefer, or provide your contact information to receive updates.</p>
  </div>
  <div>
    <h2>What Are Special Collections?</h2>
    <p><em>Special collections</em> are repositories that collect archives, rare books, and manuscripts. These unique materials have been selected for their enduring historical and cultural value.</p>
  </div>
  <div>
    <h2>What Are Archives?</h2>
    <p><em>Archives</em> are materials created or collected by people and organizations as they lived and worked. They may contain drafts of literary manuscripts, correspondence, meeting minutes, sound and moving image recordings, photographs, reports, and artifacts. Archival collections range from a few letters to hundreds of boxes of organizational records.</p>
  </div>
  <div>
    <h2>Search Tips</h2>
    <h3>When searching, it is helpful to keep a few things in mind:</h3>
    <ul>
      <li>Try many different terms. ' "NYU clubs" ' will produce different results than ' "NYU society" ' or ' "New York University clubs" '</li>
      <li>The more words you use in your search, the more results will come back to you. 'Abraham Lincoln Brigade' will produce more results than 'Lincoln' but not all results for 'Lincoln' will be about the Abraham Lincoln Brigade. You can search for specific phrases by using double quotation marks " ".</li>
      <li>You may narrow down your results by using the search filters on the left of the screen. Not all materials may be located via this method and relevant results may be excluded.</li>
      <li>If you are looking for a particular item or materials on a particular subject, there may be material about that subject in several archives.</li>
    </ul>
    <h3>Advanced tips:</h3>
    <ul>
      <li>You can create advanced searches to limit, broaden or define your search using Boolean operators (e.g. AND, OR, NOT).</li>
      <li>You can adjust the granularity of results by using the 'Format' facet. For example you can view results for entire archives, series, folders, or items.</li>
    </ul>
  </div>
  <div>
    <h2>Location Information for Libraries</h2>
    <h3>New York University Collections</h3>
    <ul>
      <li><a href="https://nyuad.nyu.edu/en/library/collections/archives-and-special-collections.html" target="_blank">NYU Abu Dhabi</a>
        <ul>
          <li>Akkasah Center for Photography at NYU Abu Dhabi</li>
          <li>Arab Art Archive, al Mawrid, NYU Abu Dhabi</li>
          <li>NYU Abu Dhabi Archives and Special Collections</li>
        </ul>
      </li>
      <li>NYU Bern Dibner Library
        <ul>
          <li><a href="https://library.nyu.edu/locations/poly-archives-special-collections/" target="_blank">Poly Archives</a></li>
        </ul>
      </li>
      <li>NYU Florence
        <ul>
          <li><a href="https://library.nyu.edu/locations/villa-la-pietra/" target="_blank">Villa La Pietra</a></li>
        </ul>
      </li>
      <li><a href="https://library.nyu.edu/locations/special-collections-center/" target="_blank" <="" a="">NYU Special Collections Center at Bobst Library</a>
        <ul>
          <li>Fales Library and Special Collections</li>
          <li>New York University Archives</li>
          <li>Tamiment Library and Wagner Labor Archives</li>
        </ul>
      </li>
    </ul>
    <h3><a href="https://www.bklynlibrary.org/locations/center-for-brooklyn-history" target="_blank">Center for Brooklyn History</a></h3>
    <h3><a href="https://www.nyhistory.org/library" target="_blank">The New York Historical</a></h3>
  </div>
  <div>
    <h2>Rights Statement for Archival Description</h2>
    <p>Archival description from NYU Special Collections, Poly Archives & Special Collections, and NYU Abu Dhabi Archives & Special Collections is available for use under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Creative Commons Attribution-NonCommercial 4.0 International License</a> (CC-BY-NC 4.0), except where otherwise noted. You may share or adapt this metadata for non-commercial purposes with attribution to the original author(s).</p>
  </div>
</div>
