// Redefine some default boostrap variables
$panel-default-heading-bg: #fff;
$grid-float-breakpoint: 980px;

@import "nyulibraries";
@import "blacklight";

@import "contenttypes/*.png";
@include all-contenttypes-sprites;

[class^="contenttypes-"],
[class*=" contenttypes-"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin-top: -4px;
  padding: 0 2px;
}

h1.page_header {
  color: $nyu-purple;
  font-size: 150%;
  font-weight: normal;
  padding-bottom: 10px;
}

#sort-dropdown { display: none; }

.home_text {
  margin-top: 2em;
  font-size: 1.2em;
  line-height: 1.25;
  max-width: 51em;
  h3 {
    line-height: 1.5em;
    font-weight: normal;
    font-size: 120%;
  }
  h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 1.7em;
  }
  div {
    margin-top: 1.5em;
  }
}

// Override blacklight styles because our search box is not in a navbar
#q {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.5em;
}
form.search-query-form {
  margin-bottom: .5em;
  .search-input-group {
    padding-left: 0;
  }
}
div.search { margin-bottom: 1em; }
select#search_field {
  height: 2.5em !important;
  width: 30%;
  float: left;
}
.search-input-group {
  width: 70%;
  float: left;
  padding-left: 1em;
}
button.search-btn {
  height: 2.5em;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn.btn-primary {
  background-color: $nyu-purple;
  border-color: $nyu-purple;
}

.toggle_bookmark {
  margin: 0;
}
form label {
  margin-left: 0;
}
table.search_history {
  margin-top: 1em;
}

.icon_image {
  margin-right: 5px;
}

.index_title {
  max-width: inherit;
  width: 80%;
}

.pagination, .nyu-pagination {
  text-align: left;
}

input[type='file'] {
  line-height: 12px;
}

.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.documentFunctions {
  float:right;
  margin-top:12px;
}

.document {
  border-bottom: 1px solid #efefef;
  dl dd {
    a {
      display: inline;
      color: #333;
      border-bottom: 1px dotted #999;
      &:hover {
        text-decoration: none;
      }
    }
    &.blacklight-unittitle_t,
    &.blacklight-odd_t {
      a {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

h5.index_title > i {
  margin-right: .5em;
}

.unittitle {
  font-weight: bold;
}

dt.blacklight-collection_ssm{
  display:none;
}

dd.blacklight-collection_ssm{
  padding-top: 10px;
  padding-bottom: 5px;
}

.search_within{
  font-weight: bold;
}

.request_item_note{
  padding-top:10px;
}

#facets, #advanced_search_facets {
  .top-panel-heading {
    h4 {
      font-size: 100%;
      color: #666;
      text-transform: uppercase;
    }
  }
  .panel-group .panel-heading {
    h3 {
      font-weight: bold;
      font-size: 14px;
      a {
        margin-left: 1em;
      }
    }
  }
}

.facets-toggle {
  margin-top: -2px;
}

.panel-heading.collapse-toggle .panel-title:after,
.panel-heading.collapse-toggle.collapsed .panel-title:after {
  content: "";
}

.panel-heading.collapse-toggle .panel-title:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size: 0.8em;
    line-height: normal;
}
.panel-heading.collapse-toggle.collapsed .panel-title:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.advanced.page-header .advanced-search-start-over {
  display: none !important;
}

@media (max-width: 480px) {
  select#search_field {
    width: 100%;
    float: none;
    margin-bottom: .5em;
  }
  .search-input-group {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}
