@import "nyulibraries";
@import "blacklight";

@import "contenttypes/*.png";
@include all-contenttypes-sprites;

[class^="contenttypes-"],
[class*=" contenttypes-"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin-top: -4px;
  padding: 0 2px;
}

// Override blacklight styles because our search box is not in a navbar
#q {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.5em;
}
form.search-query-form {
  margin-bottom: 1.5em;
}
select#search_field {
  height: 2.5em !important;
  width: 30%;
  float: left;
}
.search-input-group {
  width: 70%;
  float: left;
  padding-left: 1em;
}
button.search-btn {
  height: 2.5em;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btn.btn-primary {
  background-color: $nyu-purple;
  border-color: $nyu-purple;
}

.toggle_bookmark {
  margin: 0;
}
form label {
  margin-left: 0;
}
table.search_history {
  margin-top: 1em;
}

.icon_image {
  margin-right: 5px;
}

.index_title {
  max-width: inherit;
  width: 80%;
}

.pagination, .nyu-pagination {
  text-align: left;
}

input[type='file'] {
  line-height: 12px;
}

.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.document {
  border-bottom: 1px solid #efefef;
  dl dd {
    a {
      display: inline;
      color: #333;
      border-bottom: 1px dotted #999;
      &:hover {
        text-decoration: none;
      }
    }
    &.blacklight-unittitle_t,
    &.blacklight-odd_t {
      a {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

h5.index_title > i {
  margin-right: .5em;
}

@media (max-width: 480px) {
  select#search_field {
    width: 100%;
    float: none;
    margin-bottom: .5em;
  }
  .search-input-group {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}

.advanced.page-header .advanced-search-start-over {
  display: none !important;
}
