@import "nyulibraries";
@import "blacklight";

body {
  padding-top: 0;
}

.row, #content {
  margin-left: 0 !important;
}

#search {
  margin-bottom: $paddingStandard;
}

.toggle_bookmark { margin-top: 2px !important; }

.page_links { line-height: 20px; }

.search {
  #search_field { height: 30px; width: auto; }//display: none !important; }
}

.q { 
  padding-top: 6px !important; 
  padding-bottom: 6px !important; 
  line-height: $lineHeightLarge !important; 
}

.record-help { margin-bottom: 10px; }

.field_with_errors {
  input {
    @extend .alert;
    @extend .alert-error;
  }
  label {
    color: #B94A48;
    font-weight:bold;
  }
}

.constraint {
  * { text-indent: 0; }
  .filterValue {
    span { margin: 0px 4px; }
    .label {
      color: white !important;
    }
  }
}

.pagination, .nyu-pagination {
  text-align: left;
}

input[type='file'] {
  line-height: 12px;
}

.highlight {
  color: #c09853;
  background-color: #fcf8e3;
  padding: 0;
}

.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.document dl dd {
  a {
    display: block;
    color: #333;
    &:hover {
      @extend .rounded;
      text-decoration: none;
      background-color: whitesmoke;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    }
  }
}

@media (max-width: 480px) {
  #search_field {
    display: block;
  }
}