@import "nyulibraries";
@import "blacklight";

body {
  padding-top: 0;
}

.row, #content {
  margin-left: 0 !important;
}

#search {
  margin-bottom: $padding-base;
}

@import "contenttypes/*.png";
@include all-contenttypes-sprites;

[class^="contenttypes-"],
[class*=" contenttypes-"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  margin-top: -4px;
  padding: 0 2px;
}

.toggle_bookmark { margin-top: 2px !important; }

.page_links { line-height: 20px; }

.search {
  #search_field {
    height: 30px;
    width: auto;
    max-width: 250px;
  }
}

.q {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  line-height: $line-height-large-computed !important;
}

.record-help { margin-bottom: 10px; }

.field_with_errors {
  input {
    @extend .alert;
    @extend .alert-danger;
  }
  label {
    color: #B94A48;
    font-weight:bold;
  }
}

.constraint {
  * { text-indent: 0; }
  .filterValue {
    span { margin: 0px 4px; }
    .label {
      color: white !important;
    }
  }
}

.icon_image {
  margin-right: 5px;
}

.index_title {
  max-width: inherit;
  width: 80%;
}

.pagination, .nyu-pagination {
  text-align: left;
}

input[type='file'] {
  line-height: 12px;
}

.highlight {
  color: #c09853;
  background-color: #fcf8e3;
  padding: 0;
}

.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.document {
  border-bottom: 1px solid #efefef;
  dl dd {
    a {
      display: inline;
      color: #333;
      border-bottom: 1px dotted #999;
      &:hover {
        text-decoration: none;
      }
    }
    &.blacklight-unittitle_t,
    &.blacklight-odd_t {
      a {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  #search_field {
    display: block;
  }
}
