<%= sidebar_section("need_help_links", content_tag(:h2, t('blacklight.need_help_links.title'))) do %>
<ul>
  <li><%= link_to t('blacklight.need_help_links.search_tips.title'), root_path %></li>
</ul>
<% end %>
