<%= sidebar_section("user_util_links", content_tag(:h2, "My Workspace")) do %>
<ul>
  <li><%= link_to "Provide Feedback", "https://nyu.qualtrics.com/jfe/form/SV_9TAwrel63ot1Xp4?#{ {SourceURL: request.original_url}.to_query }", target: "_blank" %></li>
</ul>
<% end %>
